body
    font-family: sans-serif

.main-container
    display: grid
    justify-content: center
    margin: auto
    grid-template-columns: repeat(2, 1fr)

    .title
        font-family: 'Open Sans', sans-serif
        font-size: 40pt
        grid-column: 1 / 3
        justify-self: center

    .users-container
        grid-column: 1 / 3
        display: grid
        justify-items: center

        > :nth-child(even)
            background-color: green
            grid-column: 2 / 3

        .image-cropper
            width: 200px
            height: 200px
            position: relative
            overflow: hidden
            border-radius: 50%

            img
                width: auto
                margin: 0 auto
